/*
==============================================
SCSS file for Lost and Found application
==============================================

Contents:
1.  Variables
2.  Global Styles
3.  Animations
4.  Reusable Placeholders & Mixins
5.  Component Styles
    - Navbar
    - Auth (Login/Signup)
    - Page Controls
    - Buttons
    - Item List
6.  Media Queries
==============================================
*/
/*
==============================================
1. Variables
==============================================
*/
@font-face {
  font-family: "title";
  src: url("fonts/Anton-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "mukta";
  src: url("fonts/Mukta-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "mukta";
  src: url("fonts/Mukta-Bold.ttf") format("truetype");
  font-weight: bold;
}
/*
==============================================
2. Global Styles
==============================================
*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "mukta", sans-serif;
}

div {
  box-sizing: border-box;
}

.grow {
  flex-grow: 1;
}

/*
==============================================
3. Animations
==============================================
*/
@keyframes LeftRightShake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes Shake {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
    scale: 1.1;
  }
  100% {
    transform: rotate(0);
    scale: 1.1;
  }
}
/*
==============================================
4. Reusable Placeholders & Mixins
==============================================
*/
.hold-button, .unhold-button, .view-toggle-btn {
  background-color: #282F4E;
  color: white;
  font-size: 20px;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
  opacity: 0.7;
}

/*
==============================================
5. Component Styles
==============================================
*/
/* --- Navbar --- */
nav {
  display: flex;
  background-color: #2B3666;
  color: white;
  font-size: 20px;
}
nav a, nav a:visited {
  color: inherit;
  text-decoration: none;
  flex-grow: auto;
  padding: 0 4px 0 4px;
}
nav .vertical-line {
  display: inline-block;
  border-left: 1px solid white;
  height: 30px;
}
nav .navbar-brand .h1 {
  letter-spacing: 2px;
  font-weight: bold;
  color: white;
  font-size: 32px;
}
nav .logout-button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  padding: 0;
}

.info-container, .sub-title, .title {
  text-align: center;
}
.info-container > h1, .sub-title > h1, .title > h1 {
  font-weight: bold;
  font-size: 5rem;
  margin-top: 20px;
  color: #2B3666;
}
.info-container > h1 a, .sub-title > h1 a, .title > h1 a {
  color: #2B3666;
  text-decoration: none;
}
.info-container > p, .sub-title > p, .title > p {
  font-size: 1.2rem;
  font-style: italic;
  margin-top: 4px;
}
.info-container .start-now, .sub-title .start-now, .title .start-now {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  margin: 40px 0;
}
.info-container .start-now a, .sub-title .start-now a, .title .start-now a {
  text-decoration: none;
  color: #ffc107;
  border: 6px solid #2B3666;
  padding: 10px 20px;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}
.info-container .start-now a:hover, .sub-title .start-now a:hover, .title .start-now a:hover {
  background-color: #3C4A99;
  border-color: #3C4A99;
  color: white;
}

.logo-img {
  width: 800px;
  height: auto;
}

.title {
  padding: 200px 0 200px 0;
}

.sub-title {
  padding: 100px 0 50px 0;
}

.bg-img, .contact-card-second, .contact-card, .bg-img-second {
  height: 350px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("images/upload.png");
  text-align: center;
  color: white;
}

.bg-img-second {
  background-image: url("images/home.png");
}

.v-m {
  height: 100%;
  padding: 50px;
  text-align: left;
  position: relative;
}
.v-m h4 {
  margin-top: 20px;
  font-weight: bold;
  font-size: 2rem;
}
.v-m p {
  width: 90%;
  margin-top: 0;
  font-size: 1.2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.gallery {
  height: 350px;
  width: 100%;
  display: flex;
}

.gallery-card {
  width: 350px;
  height: 350px;
  position: relative;
}
.gallery-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  transition: opacity 0.3s ease;
}
.overlay p {
  font-weight: bold;
  width: 100%;
  color: white;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.overlay span {
  font-weight: normal;
}

.overlay:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.contact-cards {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 100px;
  gap: 20px;
}

.contact-card {
  width: 25%;
  transition: all, 0.5s;
  position: relative;
  border-radius: 20px;
}

.contact-card-second {
  background-image: url("images/home.png");
  width: 25%;
  transition: all, 0.5s;
  position: relative;
  border-radius: 20px;
}

.contact-card:hover, .contact-card-second:hover {
  transform: scale(0.9);
}

.copy-to-clipboard {
  cursor: pointer;
}
.copy-to-clipboard .copy-badge {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffc107;
  color: #2B3666;
  padding: 2px 10px;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: bold;
  opacity: 0;
  transition: all 0.3s ease;
  white-space: nowrap;
}
.copy-to-clipboard .copy-badge.copied {
  background-color: #28a745;
  color: white;
  opacity: 1;
}
.copy-to-clipboard:hover .copy-badge {
  opacity: 1;
}

.contact-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
.contact-text p {
  font-weight: bold;
  margin-top: 20px;
  font-size: 1.2rem;
}

/* --- Auth (Login/Signup) --- */
.auth-container {
  background-color: #2B3666;
  height: 100%;
  display: flex;
}
.auth-container .home-container {
  width: 50%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  position: relative;
}
.auth-container .home-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.8;
}
.auth-container .home-container .home-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
.auth-container .home-container .home-logo .logo-img {
  width: 500px;
  height: auto;
}
.auth-container .home-container .home-logo h1 {
  font-weight: bold;
  font-size: 5rem;
  margin: 0;
}
.auth-container .home-container .home-logo h1 a {
  color: white;
  text-decoration: none;
}
.auth-container .home-container .home-logo p {
  font-size: 1.2rem;
  font-style: italic;
  margin: 10px 0 0 0;
}
.auth-container .auth-form-container {
  color: white;
  padding: 20px;
  height: 100%;
  width: 50%;
  box-sizing: border-box;
  position: relative;
}
.auth-container .auth-form-container h2 {
  color: white;
  margin-bottom: 30px;
}
.auth-container .auth-form-container .error-messages {
  background-color: #ffcdd2;
  color: #c62828;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  list-style: none;
}
.auth-container .auth-form-container a {
  color: #5854b5;
  text-decoration: none;
}
.auth-container .auth-form-container a:hover {
  text-decoration: underline;
}
.auth-container .auth-form {
  border: 10px solid #282F4E;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
.auth-container .auth-form input[type=text],
.auth-container .auth-form input[type=password],
.auth-container .auth-form input[type=email] {
  width: 100%;
  padding: 5px 0;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  outline: none;
  color: white;
}
.auth-container .auth-form input::-moz-placeholder {
  color: #cbcbcb;
}
.auth-container .auth-form input::placeholder {
  color: #cbcbcb;
}
.auth-container .auth-form .form-field {
  margin-bottom: 10px;
}
.auth-container .auth-form .submit-button {
  width: 100%;
  padding: 10px;
  background-color: #3C4A99;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}
.auth-container .auth-form .toggle-password {
  color: #ffc107;
}
.auth-container .auth-form .remember-me {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.auth-container .auth-form .remember-me input[type=checkbox] {
  width: auto;
  margin-right: 10px;
}
.auth-container .auth-form .remember-me label {
  margin-bottom: 0;
}
.auth-container .auth-form label {
  display: block;
  margin-bottom: 5px;
}
.auth-container .auth-form a {
  color: #ffc107;
}

/* --- Upload Page --- */
.upload-page.auth-container {
  background-color: white;
  color: #212529;
}
.upload-page .auth-form-container {
  color: #212529;
}
.upload-page .upload-form {
  border: none;
  color: #212529;
  position: static;
  transform: none;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 0 20px 10px 20px;
}
.upload-page .upload-form input[type=text],
.upload-page .upload-form input[type=password],
.upload-page .upload-form input[type=email] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}
.upload-page .upload-form h2 {
  color: #212529;
  margin-top: 0;
  margin-bottom: 40px;
}
.upload-page .upload-form p {
  margin-bottom: 0;
}
.upload-page .upload-form input, .upload-page .upload-form textarea, .upload-page .upload-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}
.upload-page .upload-form button {
  width: 100%;
  padding: 10px;
  background-color: #2B3666;
  color: white;
  border: none;
  cursor: pointer;
}
.upload-page .image-preview-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
  border-left: 1px solid #dee2e6;
  padding: 20px;
}
.upload-page .image-preview-container #previewWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.upload-page .image-preview-container #imagePreview {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 5px;
  opacity: 0.8;
}
.upload-page .image-preview-container #previewText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.4rem;
  text-align: center;
  pointer-events: none;
}

/* --- Page Controls --- */
.search-bar {
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 10px;
}
.search-bar input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

.options {
  display: flex;
  gap: 20px;
  align-items: flex-end;
  margin-top: 20px;
}

.category-checkboxes {
  width: 80%;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 10px 0;
}

#toggle-filters-btn {
  display: none; /* Hidden on desktop */
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 10px;
}

#collapsible-filters {
  display: flex;
  gap: 20px;
  align-items: flex-end;
}

/* --- Buttons --- */
.view-toggle-buttons {
  display: block;
}

.view-toggle-btn:hover i {
  animation: Shake 0.5s;
  animation-fill-mode: forwards;
}
.view-toggle-btn.active {
  opacity: 1;
}

.hold-button, .unhold-button {
  border-radius: 5px;
  padding: 2px 10px 2px 10px;
}
.hold-button:hover, .unhold-button:hover {
  animation: Shake 0.5s;
  animation-fill-mode: forwards;
}

.unhold-button {
  opacity: 1;
}

/* --- Item List --- */
.item-list-container {
  /* Styling for watched items */
}
.item-list-container.list-view .list-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  font-weight: bold;
  padding: 5px;
  border-bottom: 2px solid #333;
  background-color: #2B3666;
  color: white;
  text-align: center;
}
.item-list-container.list-view .item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  padding: 10px;
  gap: 10px;
  border-bottom: 1px solid #eee;
  text-align: center;
}
.item-list-container.list-view .item:nth-child(odd) {
  background-color: rgba(128, 128, 128, 0.1);
}
.item-list-container.grid-view {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 15px;
}
.item-list-container.grid-view .list-header {
  display: none;
}
.item-list-container.grid-view .item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease-in-out;
}
.item-list-container.grid-view .item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.item-list-container.grid-view .item h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #2B3666;
  margin-bottom: 10px;
}
.item-list-container.grid-view .item p {
  font-size: 0.9rem;
  line-height: 1.5;
  margin-bottom: 10px;
}
.item-list-container.grid-view .item .item-actions {
  margin-top: auto;
  text-align: right;
}
.item-list-container.grid-view .item:nth-child(odd) {
  background-color: rgba(128, 128, 128, 0.1);
}
.item-list-container .item.is-watched {
  border-left: 5px solid #ffc107; /* A thick yellow left border for emphasis */
  animation: LeftRightShake 0.7s;
}

/* --- Profile Page --- */
.profile-section {
  margin-bottom: 2rem;
}
.profile-section h2 {
  border-bottom: 2px solid #2B3666;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

/* --- Horizontal Menu --- */
.horizontal-menu {
  display: none;
  background-color: #282F4E;
  padding: 10px;
  border-bottom: 1px solid #dee2e6;
}
.horizontal-menu.show {
  display: flex;
  gap: 20px;
}
.horizontal-menu a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
}
.horizontal-menu a:hover {
  background-color: #5854b5;
}

/* --- Sticky Upload Button --- */
.sticky-upload-btn {
  display: flex;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #ffc107;
  color: white;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: all 0.2s ease-in-out;
}
.sticky-upload-btn:hover {
  background-color: rgb(236.5, 177.375, 0);
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  color: white;
}

.upload-page .sticky-upload-btn {
  display: none;
}

/*
==============================================
6. Media Queries
==============================================
*/
@media (max-width: 768px) {
  .options {
    flex-wrap: wrap;
  }
  .v-m {
    padding: 20px;
  }
  .v-m p {
    top: 60%;
  }
  .overlay p {
    top: 80%;
  }
  .contact-cards {
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
  }
  .contact-card, .contact-card-second {
    width: 80%;
    height: 250px;
  }
  .view-toggle-buttons {
    display: none;
  }
  .item-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    margin-bottom: 50px;
    /* Make list items behave like grid items on mobile */
  }
  .item-list-container.list-view .list-header {
    display: none;
  }
  .item-list-container.list-view .item {
    display: block;
    grid-template-columns: unset;
  }
  .item-list-container .item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: all 0.2s ease-in-out;
  }
  .item-list-container .item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .item-list-container .item h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #2B3666;
    margin-bottom: 10px;
  }
  .item-list-container .item p {
    font-size: 0.9rem;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  .item-list-container .item .item-actions {
    margin-top: auto;
    text-align: right;
  }
  #toggle-filters-btn {
    display: block;
  }
  #collapsible-filters {
    display: none;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
  }
  #collapsible-filters.visible {
    display: flex;
  }
  .upload-page.auth-container {
    flex-direction: column;
  }
  .upload-page.auth-container .auth-form-container,
  .upload-page.auth-container .image-preview-container {
    width: 100%;
  }
  .auth-container {
    flex-direction: column;
  }
  .auth-container .home-container {
    display: none;
  }
  .auth-container .auth-form-container {
    width: 100%;
  }
  #horizontal-menu-toggle {
    display: none;
  }
  .horizontal-menu {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .info-container > h1, .title > h1, .sub-title > h1 {
    font-size: 4rem;
  }
  .info-container .start-now, .title .start-now, .sub-title .start-now {
    font-size: 2rem;
  }
}/*# sourceMappingURL=style.css.map */