{% extends "lnf/navbase.html" %}

{% block content %}
<div class="info-container">
    <h1>Contact Us</h1>
    <p>Need help? Reach out to us!</p>
    <br>
    <div class="contact-cards">
        <div class="contact-card">
            <div class="contact-text">
                <i class="fa-brands fa-facebook fa-4x"></i>
                <p>FoundIT</p>
            </div>
        </div>
        
        <div class="contact-card-second">
            <div class="contact-text">
                <i class="fa-solid fa-envelope fa-4x"></i>
                <p>s1310961@usls.edu.ph</p>
            </div>
        </div>

        <div class="contact-card">
            <div class="contact-text">
                <i class="fa-brands fa-instagram fa-4x"></i>
                <p>@foundit.STEM12T</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
